<h2> Session Details </h2>
<table class="sessionTable">
    <tr>
        <th>Date</th>
        <th>Minutes</th>
        <th>Subject</th>
        
    </tr>
    <tr>
        <td><%= session.sessionDate.toISOString().split('T')[0] %></td>
        <td><%= session.minutes %></td>
        <td><%= session.subject %></td>
    </tr>
    <tr>
        <th colspan="5">Description</th>
    </tr>
    <tr>
        <td colspan="5" style="white-space: pre-line"><%=session.description%></td> 
    </tr>
</table>
<button id="editsessionbtn">Edit</button></td>
        
            <form action="/session/<%=session.id%>?_method=DELETE" method="POST" id="editform">
                <button type="submit">Delete</button></td>
            </form>
<form action="/session/<%=session.id%>?_method=PUT" method="POST" class="formClass" id="editform1">
        <h2>Edit this session</h2>
        <div class="editformdiv">
            <div class="edit-form-label"><label for="min" >Minutes:</label></div>
            <input name="min" type="number" value="<%= session.minutes %>">
            <div class="edit-form-label"><label for="subject">Subject:</label></div>
            <input name="subject" type="text" value="<%= session.subject %>">
            <div class="edit-form-label"><label for="description">Description:</label></div>
            <textarea name="description" value="<%= session.description %>"><%= session.description %></textarea>
            <div class="edit-form-label"></div>
            <button class="saveEditBtn" type="submit">Save Changes</button>
        </div>
        
</form>